header {
    background-color: rgb(87, 17, 94);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: serif;

}
.b1{
  background-color: rgb(87, 17, 94);
  width: 160px;
  height: 50px;
  color: white;
  border-radius: 0px;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.b1:hover {
  background-color: rgb(51, 89, 124);
  color: white;
}
.container {
position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width:318px;
  height:200px;
  margin-left: -15px;
  border: 1px;
}
.container:hover .image {
  opacity: 0.3;
}
footer{
  background-color: rgb(87, 17, 94);
    padding: 20px;
  
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: serif;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    background-color: rgb(151, 151, 151);
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width:60px;
  height: 60px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width:60px;
  height: 60px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  width:60px;
  height: 60px;
}
.fa-instagram {
  background: #c21d78;
  color: white;
  width:60px;
  height: 60px;
}
